*{border: 0px;
padding: 0px;
box-sizing: border-box;}

html{ background-color: #707900;
    background-image: linear-gradient(180deg, rgb(2, 189, 2), #018a35);
    --tamanho_do_grid:20;
    
}
    

body{overflow: hidden;
    width: 100vw;
    height: 100vh;/*pode ser usado como widht e height 100vw e 100vh*/
    display: flex;
    align-items: center;
    justify-content: center;}
   

#painel_de_movimento{background-color: #01500e;
width: 95vmin;
height: 95vmin;/** Pode ser substituido por 100vin tanto em height quanto em widht*/
display: grid;
grid-template-columns: repeat(var(--tamanho_do_grid), 1fr);
grid-template-rows: repeat(var(--tamanho_do_grid),1fr);
box-shadow:5px 5px rgb(28, 43, 0)}

#botao1{height: auto;
width: 100px;
background-color: rgb(120, 136, 1);
background-image: linear-gradient(to right,rgb(150, 106, 10),rgb(42, 243, 42));

/*min-width: 48px;*/
padding: 8px;
border: 1px solid;
margin: 10px;}

#botao2{height: 30px;
width:60px ;
height: auto;
width: 100px;
background-color: rgb(120, 136, 1);
background-image: linear-gradient(to right,rgb(150, 106, 10),rgb(42, 243, 42));

min-width: 48px;
padding: 8px;
border: 1px solid;
margin: 10px;}

#score{height: 30px;
    width:60px ;
    height: auto;
    width: 100px;
    background-image: linear-gradient(to right,rgb(228, 36, 2),rgb(42, 243, 42));
    box-shadow:3px 3px rgb(39, 59, 0);
    min-width: 48px;
    padding: 8px;
    border: 1px solid;
    margin: 10px;}

.cobra{
border: 10% solid black;
background-image: linear-gradient(180deg,rgb(241, 7, 65),rgb(223, 245, 30))
/*width: 20px;
height: 20px;*/
}

.ponto{background-color: rgb(4, 219, 94);
border: 10% solid black;
}

.botoes div:hover{cursor: pointer;
    box-shadow: 2px 2px 8px}

.cabeca{
    background-image: linear-gradient(180deg,rgb(21, 1, 95),rgb(109, 2, 2))
}
